* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #dcfcff;
  --second-bg-color: #ffffff;
  --text-color: #c8dff9;
  --main-color: rgba(0, 112, 197, 0.793);
}
body {
  position: relative;
  background: var(--bg-color);
}
.inp {
  border-radius: 20px;
  width: 325px;
  height: 35px;
  background-color: rgb(241, 249, 255);
  border-color: rgb(241, 249, 255);
}
.bar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.bar {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding: 1.5rem;
  padding-left: 0%;
  background-color: var(--second-bg-color);
}
.navbar {
  margin-left: 4rem;
}
.navbar a {
  height: 30px;
  width: 60px;
  font-size: 1.3rem;
  color: var(--main-color);
  text-decoration: none;
  padding: 1rem;
}
.bar a:hover {
  color: rgb(52, 69, 86);
}
.n {
  width: 35vw;
}
.title {
  font-family: "Lucida Console", "Fantasy", "monospace";
  color: var(--main-color);
  margin-right: 5rem;
}
